{% load staticfiles %}
<html>
<div class="page-header">
    <head>
        <title>Current Food Prices</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/food.css' %}">
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
</div>
    <body>
    <div class="page-header">
        <a href="{% url 'post_edit' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Prices of Assorted Food Items</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
     {% block content %}

        {% for cost in costs %}

             <div class="post">

        
              <h1><a href="">{{ cost.itemname }}</a></h1>
                <p>PRICE(KSH): {{ cost.unitcost }}</p>
            <p>{{ cost.location|linebreaks }}</p>
      </div>

        {% endfor %}

     {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>