{% extends 'food/base.html' %}

    {% block content %}
    {#{{ costs }}#}
        <!-- {% for cost in costs %}

    <div class="post">

        
        <h1><a href="">{{ cost.itemname }}</a></h1>
        <p>PRICE(KSH): {{ cost.unitcost }}</p>
         <p>Retailer: {{ cost.retailer }}</p>
        <p>{{ cost.location|linebreaks }}</p>
      </div>

        {% endfor %} -->

<table class="table">
<thead><th>Item</th><th>Price</th><th>Weight(KGS)</th><th>Retailer</th><th></th></thead>
{% for cost in costs %}

    <tr>

        
        <td>{{ cost.itemname }}</td>
        <td> {{ cost.unitcost }}</td>
        <td> {{ cost.weight }} </td>
         <td> {{ cost.retailer }}</td>
        
    
       <td>{{ cost.location|linebreaks }}</td>
</tr>

        {% endfor %}
</table>
       

    {% endblock %}
   